.upload {
    padding-left: 260px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

.painel{
width: 500px;
height: inherit;
position: relative;
left: 10px;
margin: 0;
overflow: visible;

}

