 
 .home-1 {
    padding-left: 260px;
    border-bottom-width: 50%;
    
}
 
 .home .title{
     font-size: 4rem;
     font-weight: 300;
     line-height: 1.2;
     
 
 }
 
 .home .subtitle {
     font-size: 2.1rem;
     
 
 }
